.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App button {
  border: 1px solid green;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all .2s;
}

.App button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

}

.App button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.App button.Red {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all .2s;
}

.App .Red:hover {
  background-color: salmon;
  border: 1px solid salmon;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

}

.App .Red:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}